In [1]:
#import packages
import pandas as pd

In [4]:
#get the data
demo_df = pd.read_json(r"https://raw.githubusercontent.com/viveknest/statascratch-solutions/main/UK%20Referendum%20Data/uk_demo.json")
results_df = pd.read_json(r"https://raw.githubusercontent.com/viveknest/statascratch-solutions/main/UK%20Referendum%20Data/uk_results.json")
rejected_df = pd.read_json(r"https://github.com/viveknest/statascratch-solutions/raw/main/UK%20Referendum%20Data/uk_rejected_ballots.json")

In [5]:
#join the datasets
merged_df = pd.merge(demo_df, results_df, on='Area_Code', how='left').merge(rejected_df, on='Area_Code', how='left')

In [8]:
#get summary statistics
merged_df.describe()

#list the ones we cared
merged_df.describe().loc[['mean', 'std', 'min', 'max', '25%', '75%'], ['Electorate', 'Remain', 'Leave', 'Rejected_Ballots']]

        Electorate         Remain          Leave  Rejected_Ballots
mean  1.217278e+05   42254.557592   45577.858639         66.384817
std   9.706175e+04   35622.620732   31308.892098         59.451306
min   1.799000e+03     803.000000     621.000000          0.000000
max   1.260955e+06  440707.000000  349442.000000        614.000000
25%   7.252375e+04   23535.250000   28668.500000         33.250000
75%   1.413798e+05   48245.500000   54137.500000         74.000000

In [20]:
#get areas with the hightest electorates
merged_df.sort_values(by='Electorate', ascending=False).iloc[0]['Area']
#another way to get the same
merged_df.loc[merged_df['Electorate'].idxmax()]['Area']

'Northern Ireland'

In [23]:
#find regionwise totals
merged_df.groupby('Region').aggregate({
    'Electorate': 'sum'})

#another way to get the same
merged_df.pivot_table(index='Region', values='Electorate', aggfunc='sum')

                          Electorate
Region
East                         4398796
East Midlands                3384299
London                       5424768
North East                   1934341
North West                   5241568
Northern Ireland             1260955
Scotland                     3987112
South East                   6465404
South West                   4138134
Wales                        2270272
West Midlands                4116572
Yorkshire and The Humber     3877780

In [27]:
#contribution of each region to the total electorate
merged_df.groupby('Region').aggregate({
    'Electorate': 'sum'}).assign(
    Percentage=lambda x: x['Electorate'] / x['Electorate'].sum() * 100
).sort_values(by='Percentage', ascending=False)['Percentage']

#another way to get the same
merged_df.groupby('Region').aggregate({
    'Electorate': 'sum'})/ merged_df['Electorate'].sum() * 100

                          Electorate
Region
East                        9.459776
East Midlands               7.278062
London                     11.666167
North East                  4.159873
North West                 11.272189
Northern Ireland            2.711731
Scotland                    8.574434
South East                 13.904094
South West                  8.899213
Wales                       4.882305
West Midlands               8.852843
Yorkshire and The Humber    8.339312